.border-bottom {
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px !important;
}

.border-top {
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
  margin-top: 15px;
}

.columns-settings-dropdown {
	min-width: 140px;
}

.columns-settings-dropdown .row {
	margin-bottom: 0px;
}

.columns-settings-dropdown a {
	min-width: 130px;
}

td.column-date {
		padding-left: 3px !important;
		padding-right: 3px !important;
		text-align: center;
}

table#production th {
	text-align: center;
}

table#production td {
	font-size: 12px;
}

#percentages {
	border: 0px solid rgb(204, 204, 204);
	/*height: 100px;*/
	display: none;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 190px;
	z-index: 100;
}

#weeks {
	border: 0px solid rgb(204, 204, 204);
	display: none;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 150px;
	z-index: 25;
}

#percentages tr,
#weeks tr {
	background-color: #f2dbc4;
	font-size: 12px;
}

#percentages tr.title,
#weeks tr.title {
	background-color: #edccaa;
}
