.border-bottom {
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px !important;
}

.border-top {
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
  margin-top: 15px;
}

.columns-settings-dropdown {
	min-width: 140px;
}

.columns-settings-dropdown .row {
	margin-bottom: 0px;
}

.columns-settings-dropdown a {
	min-width: 130px;
}

td.column-date {
		padding-left: 3px !important;
		padding-right: 3px !important;
		text-align: center;
}

table#production th {
	text-align: center;
	font-size: 12px;
}

table#production td {
	font-size: 11px;
	padding: 4px;
	color: black;
}

table#production td span {
	color: black;
}

table#production td a span.save-ok {
	color: red;
}

table#production th {
  /* Something you can count on */
  height: 80px;
  white-space: nowrap;
}

table#production th > div.rotate {
  transform:
    translate(0px, 30px)
    rotate(270deg);
  width: 10px;
}
table#production th > div.rotate > span {
  /*border-bottom: 1px solid #ccc;*/
  padding: 5px 10px;
}

table#production th > div.editable {
  width: 30px;
}


#percentages {
	border: 0px solid rgb(204, 204, 204);
	display: none;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 190px;
	z-index: 100;
}

#weeks {
	border: 0px solid rgb(204, 204, 204);
	display: none;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 150px;
	z-index: 25;
}

#percentages tr,
#weeks tr {
	background-color: #f2dbc4;
	font-size: 12px;
}

#percentages tr.title,
#weeks tr.title {
	background-color: #edccaa;
}

.small-button {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

#production.table-striped > tbody > tr:nth-child(odd) > td, #production.table-striped > tbody > tr:nth-child(odd) > th,
#production.table-hover > tbody > tr:hover > td, #production.table-hover > tbody > tr:hover > th {
	background-color: inherit;
}

.pagination {
  margin: 0;
}
