.noprint {
  display: none;
}

.break {
  page-break-before: always;
}

.onlyprint .row {
  margin-bottom: 8px;
}

.modal-content {
  border: 0px;
}

.dispatch-logo {
  content: " ";
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  background: url(img/logo_north_go_beyond_medium.png) center top no-repeat transparent;
  width: 100px;
  height: 75px;
  /*margin-top: 2px;*/
}

#printDispatch {
  -webkit-print-color-adjust: exact;
}
