<div class="nopaddingright jumbotron clearfix">
	<h1><span translate>Cloths</span><span ng-show="group"> {{'of Group' | translate}} '{{group.name}}'</span></h1>
	<div class="row">
		<div class="col-md-8 nopadding">
				<div class="col-xs-6">
						<span class="glyphicon glyphicon-tasks icon-with-label"></span>
						<span ng-if="!onlyWithStock"><a href="#/cloths/onlyWithStock" class="btn-link">{{'Only with stock' | translate}}</a></span>
						<span ng-if="onlyWithStock"><a href="#/cloths" class="btn-link">{{'See all' | translate}}</a><span></span>
				</div>
		</div>
	</div>
	<p class="bigmargin">
	    <a ng-click="showClothModal()" class="btn btn-default floatright" access-level="admin">
	        <span class="glyphicon glyphicon-plus"></span>&nbsp;
	        {{'Create new cloth' | translate}}
	    </a>
	</p>
</div>

<table id="groups" class="table table-bordered table-striped table-hover" fixed-header table-height="500px">
	<thead>
		<tr>
			<th translate>Cloth</th>
			<th>Stock</th>
			<th translate>Prevision</th>
			<th title="Diseñada" translate style="width: 139px;">Cut pending</th>
			<th translate>Transit</th>
			<th translate>Delta total</th>
			<th translate>St. min.</th>
			<!-- <th><span>Djais </span><a href="javascript:void(0)" ng-click="showDjaiModal()" access-level="admin">+</a></th> -->
			<th translate>Buys</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="c in cloths | filter:filter.name | filter:searchBox | orderBy:'name'">
			<td>
				<a href="javascript:void(0)" ng-click="showClothModal(c)">{{c.name}}</a>
			</td>
			<td>
				<span data-toggle="tooltip" data-placement="right" stock-tooltip="c">{{sumStock(c.providers)}}</span>
			</td>
			<td>
				<span ng-show="sumPrevision(c) == 0">0</span>
				<a href="javascript:void(0)" ng-click="showClothPrevisionsModal(c)" ng-show="sumPrevision(c) > 0" access-restricted="plotter">{{sumPrevision(c)}}</a>
				<span ng-show="sumPrevision(c) > 0" access-allowed="plotter">{{sumPrevision(c)}}</span>
			</td>
			<td>
				<span ng-show="sumPending(c) == 0">0</span>
				<a href="javascript:void(0)" ng-click="showClothPendingsModal(c)" ng-show="sumPending(c) > 0">{{sumPending(c)}}</a>
			</td>
			<td>
				<span ng-show="+c.stockInTransit == 0">0</span>
				<a href="javascript:void(0)" ng-click="showClothInTransitModal(c)" ng-show="+c.stockInTransit > 0" class="positiveLink" access-restricted="plotter">{{+c.stockInTransit}}</a>
				<span ng-show="+c.stockInTransit > 0" access-allowed="plotter">{{+c.stockInTransit}}</span>
			</td>
			<td ng-style="::negativeDeltaTotalStyle(c);" ng-bind="::deltaTotal(c)">
				<!-- {{(sumStock(c.providers) - sumPrevision(c) - sumPending(c) + +c.stockInTransit).toFixed(0)}} -->
			</td>
			<td>
				{{c.stockMin}}
			</td>
			<td ng-bind="::c.sumToBuy">
			</td>
			<!-- <td>
				<a href="javascript:void(0)" ng-show="c.sumDjais > 0" ng-click="showClothDjaisModal(c)">{{c.sumDjais}}</a>
				<span ng-show="c.sumDjais <= 0">0</span>
			</td> -->
		</tr>
	</tbody>
</table>

<cloth-modal/>

<cloth-previsions-modal/>

<cloth-in-transit-modal/>

<cloth-pendings-modal/>

<cloth-djais-modal/>

<djai-modal/>
