<div class="nopaddingright jumbotron clearfix">
	<div class="row">
		<h1 class="col-md-11"><span translate>Historics</span></h1>

	</div>

	<!-- <div class="row">
		<div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Filter by</label>
			<div class="col-xs-4">
				<select name="dd_ty" ng-model="filterOptions.selectedFilter" ng-options="sc as sc.name for sc in filterOptions.columns" class="form-control small" ng-change="clearFilterOption();">
					<option value="">-- choose one --</option>
				</select>
			</div>

			<label class="control-label col-xs-1"></label>
			<div class="col-xs-4">
				<select ng-model="filterOptions.selectedFilterOption" ng-options="sc as sc.value for sc in filterOptions.selectedFilter.options" class="form-control small" ng-change="clearFilterOption();">
					<option value="">-- choose one --</option>
				</select>
			</div>
		</div>
	</div> -->

	<div class="row">
		<div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Order by</label>
			<div class="col-xs-4">
				<select name="dd_ty" ng-model="filterOptions.selectedOrderBy" ng-options="sc as sc.name for sc in filterOptions.columns" class="form-control small" ng-change="clearFilterOption();">
					<option value="">-- choose one --</option>
				</select>
			</div>

			<label class="control-label col-xs-1"></label>
			<div class="col-xs-4">
				<select name="dd_ty" ng-model="filterOptions.selectedOrderType" ng-options="sc as sc.name for sc in filterOptions.orderTypes" class="form-control small" ng-change="clearFilterOption();">
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 nopadding">
				<label class="control-label col-xs-3"></label>
				<div class="col-xs-4">
				</div>

				<label class="control-label col-xs-1" for="edit_cloth" translate>&nbsp;</label>
				<div class="col-xs-4">
					<a ng-click="search(1)" class="btn btn-default floatright">
						<span class="glyphicon glyphicon-search"></span>
						{{'Search' | translate}}
					</a>
				</div>
		</div>
	</div>

</div>

<!-- Consumos -->
<!-- <table id="production" class="table table-bordered table-striped table-hover" fixed-header table-height="500px"> -->
<table id="production" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th ng-show=":refreshColumns:visibility.showColumn('seller')" translate>Seller col</th>
			<th ng-show=":refreshColumns:visibility.showColumn('week')" translate>Week col</th>
			<th ng-show=":refreshColumns:visibility.showColumn('priority')" translate access-restricted="vendedor">Priority col</th>
			<th ng-show=":refreshColumns:visibility.showColumn('dispatch')" translate>Dispatch</th>
			<th ng-show=":refreshColumns:visibility.showColumn('order')" translate>Order</th>
			<th ng-show=":refreshColumns:visibility.showColumn('client')" translate>Client</th>
			<th ng-show=":refreshColumns:visibility.showColumn('boat')" translate>Boat</th>
			<th ng-show=":refreshColumns:visibility.showColumn('sail')" translate>Sail</th>
			<th ng-show=":refreshColumns:visibility.showColumn('line')" translate>Line</th>
			<th ng-show=":refreshColumns:visibility.showColumn('percentage')">%</th>
			<th ng-show=":refreshColumns:visibility.showColumn('advance')" translate>Advance</th>
			<th ng-show=":refreshColumns:visibility.showColumn('deliveryDate')" translate style="min-width:95px;">Delivery date min</th>
			<th ng-show=":refreshColumns:visibility.showColumn('tentativeDate')" translate style="min-width:95px;">Tentative date min</th>
			<th ng-show=":refreshColumns:visibility.showColumn('productionDate')" translate style="min-width:95px;" access-restricted="vendedor">Production date min</th>
			<th ng-show=":refreshColumns:visibility.showColumn('infoDate')" translate style="min-width:95px;">Info date min</th>
			<th ng-show=":refreshColumns:visibility.showColumn('advanceDate')" translate style="min-width:95px;">Advance date min</th>
			<th ng-show=":refreshColumns:visibility.showColumn('cloths')" translate>Cloths</th>
			<th ng-show=":refreshColumns:visibility.showColumn('state')" translate access-restricted="vendedor">State col</th>
			<th ng-show=":refreshColumns:visibility.showColumn('area')" translate access-restricted="vendedor">Area</th>
			<th ng-show=":refreshColumns:visibility.showColumn('productionObservations')" translate access-restricted="vendedor">Observations</th>
			<th translate>Archived date min</th>
			<th access-allowed="admin,produccion" translate>Restore</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in previsions" my-repeat-directive="start">
			<td>
				{{:refreshColumsValue:getValue(p, 'seller')}}
			</td>
			<td>
				{{:refreshColumnsValue:getValue(p, 'week')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('priority')" access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'priority')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('dispatch')">
				{{::(p.dispatch ? '#' + p.dispatch : '')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('order')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'orderNumber')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('client')">
				{{:refreshColumnsValue:getValue(p, 'client')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('boat')">
				{{:refreshColumnsValue:getValue(p, 'boat')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('sail')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'sailName')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('line')">
				{{:refreshColumnsValue:getValue(p, 'line')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('percentage')" style="min-width:30px;">
				{{:refreshColumnsValue:getValue(p, 'percentage')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('advance')">
				{{:refreshColumnsValue:getValue(p, 'advance')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('deliveryDate')" class="column-date" nowrap>
				{{:refreshColumnsValue:getValue(p, 'deliveryDate')}}
				<!-- <editable-date entity="::p" field="deliveryDate" callback="::updateDate" editable-by-role="admin" style="display:inline-block;" required="true"></editable-date> -->
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('tentativeDate')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'tentativeDate')}}
				<!-- <editable-date entity="::p" field="tentativeDate" callback="::updateDate" editable-by-role="admin" style="display:inline-block;"></editable-date> -->
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('productionDate')" nowrap access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'productionDate')}}
				<!-- <editable-date entity="::p" field="productionDate" callback="::updateDate" editable-by-role="admin" style="display:inline-block;"></editable-date> -->
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('infoDate')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'infoDate')}}
				<!-- <editable-date entity="::p" field="infoDate" callback="::updateDate" editable-by-role="admin" style="display:inline-block;"></editable-date> -->
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('advanceDate')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'advanceDate')}}
				<!-- <editable-date entity="::p" field="advanceDate" callback="::updateDate" editable-by-role="admin" style="display:inline-block;"></editable-date> -->
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('cloths')">
				<prevision-cloths prevision="p" style="display:inline-block;"></prevision-cloths>
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('state')" access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'state')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('area')" access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'area')}}
			</td>
			<td ng-show=":refreshColumns:visibility.showColumn('productionObservations')" access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'productionObservations')}}
			</td>
			<td>
				{{:refreshColumnsValue:getValue(p, 'deletedProductionOn')}}
			</td>
			<td style="width:80px; text-align:center;" access-allowed="admin,produccion">
				<a ng-click="showConfirmModal(p, restoreToProduction)" class="btn btn-default">
					<span class="glyphicon glyphicon-refresh"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="20" ng-show="!hideLoading">
				Cargando...
			</td>
		</tr>
	</tbody>
</table>

<ul id="pagination" class="pagination-sm"></ul>


<confirm-modal/>
