<div class="nopaddingright jumbotron clearfix">
	<h1><span translate>Production</span></h1>

	<div class="row">
		<div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Order by</label>
			<div class="col-xs-3">
				<select name="dd_ty" ng-model="filterOptions.selectedOrderBy" ng-options="sc as sc.name for sc in filterOptions.columns" class="form-control small">
					<option value="">-- choose one --</option>
				</select>
			</div>

			<label class="control-label col-xs-2" translate>Then order by</label>
			<div class="col-xs-3">
				<select name="dd_ty" ng-model="filterOptions.selectedOrderBy2" ng-options="sc as sc.name for sc in filterOptions.columns" class="form-control small">
					<option value="">-- choose one --</option>
				</select>
			</div>

			<div class="col-xs-1">
				<span class="glyphicon glyphicon-sort control-label" ng-click="::changeSortOrder();" style="text-align:center; cursor:pointer;"></span>
			</div>
		</div>

		<div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Production summary</label>
			<div class="col-xs-4">
				<span class="glyphicon glyphicon-stats control-label" ng-click="showProductionSummaryModal(allProduction)" style="text-align:center; cursor:pointer;"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Show all</label>
			<div class="col-xs-4">
				<input type="checkbox" ng-model="filterOptions.showAll">
			</div>
		</div>

		<div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Columns filter</label>
			<div class="col-xs-4">
				<span class="glyphicon glyphicon-cog control-label" ng-click="::oneTimeBindings.togglePopupList('columnsSelector');" style="text-align:center; cursor:pointer;"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- <div class="col-md-6 nopadding">
			<label class="control-label col-xs-3" translate>Show all</label>
			<div class="col-xs-4">
				<input type="checkbox" ng-model="filterOptions.showAll">
			</div>
		</div> -->
	</div>

	<div class="row">
		<div class="col-md-6 nopadding">
				<label class="control-label col-xs-2"></label>

				<div class="col-xs-8">
					<a ng-click="clearFilters()" class="btn btn-default floatright">
						<span class="glyphicon glyphicon-remove"></span>
						{{'Clear filters' | translate}}
					</a>
				</div>

				<div class="col-xs-2">
					<a ng-click="search(1)" class="btn btn-default floatright">
						<span class="glyphicon glyphicon-search"></span>
						{{'Search' | translate}}
					</a>
				</div>
		</div>
	</div>
</div>


<table id="production" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th class="seller"><div class="rotate"><span translate>Seller col</span></div></th>
			<th class="week"><div class="rotate"><span translate>Week col</span></div></th>
			<th class="priority" access-restricted="vendedor"><div class="rotate"><span translate>Priority col</span></div></th>
			<th class="dispatch"><div class="rotate"><span translate>Dispatch</span></div></th>
			<th class="orderNumber" translate>Order</th>
			<th class="client" translate>Client</th>
			<th class="boat" translate>Boat</th>
			<th class="sailName" translate>Sail</th>
			<th class="line"><div class="rotate"><span translate>Line</span></div></th>
			<th class="percentage"><div><span translate>%</span></div></th>
			<th class="advance"><div class="rotate"><span translate>Advance</span></div></th>
			<th class="deliveryDate" translate style="min-width:95px;">Delivery date min</th>
			<th class="tentativeDate" translate style="min-width:95px;">Tentative date min</th>
			<th class="productionDate" access-restricted="vendedor" translate style="min-width:95px;">Production date min</th>
			<th class="infoDate" translate style="min-width:95px;">Info date min</th>
			<th class="advanceDate" translate style="min-width:95px;">Advance date min</th>
			<th class="cloths" translate>Cloths</th>
			<th class="state" access-restricted="vendedor" translate>State col</th>
			<th class="area" access-restricted="vendedor" translate>Area</th>
			<th class="productionObservations" access-restricted="vendedor" translate>Observations</th>
			<th access-allowed="admin,produccion,velas-od" access-restricted="vendedor" translate>Archive</th>
		</tr>
		<tr class="production-filter">
			<th class="seller" ng-style="{'background-color': headerBackgroundColor(selectionObject.seller)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('seller');" style="text-align:center; cursor:pointer;"></span></div></th>
			<th class="week" ng-style="{'background-color': headerBackgroundColor(selectionObject.week)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('week');" style="text-align:center; cursor:pointer;"></span></div></th>
			<th class="priority" ng-style="{'background-color': headerBackgroundColor(selectionObject.priority)}" access-restricted="vendedor"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('priority');" style="text-align:center; cursor:pointer;"></span></div></th>
			<th class="dispatch" ng-style="{'background-color': headerBackgroundColor(selectionObject.dispatch)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('dispatch');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="orderNumber" ng-style="{'background-color': headerBackgroundColor(selectionObject.orderNumber)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('orderNumber');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="client" ng-style="{'background-color': headerBackgroundColor(selectionObject.client)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('client');" style="text-align:center; cursor:pointer;"></span></div></th>
			<th class="boat" ng-style="{'background-color': headerBackgroundColor(selectionObject.boat)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('boat');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="sailName" ng-style="{'background-color': headerBackgroundColor(selectionObject.sailName)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('sailName');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="line" ng-style="{'background-color': headerBackgroundColor(selectionObject.line)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('line');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="percentage" ng-style="{'background-color': headerBackgroundColor(selectionObject.percentage)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('percentage');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="advance" ng-style="{'background-color': headerBackgroundColor(selectionObject.advance)}"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('advance');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="deliveryDate" ng-style="{'background-color': headerBackgroundColor(selectionObject.deliveryDate)}" style="min-width:95px;"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('deliveryDate');" style="text-align:center; cursor:pointer;"></span></div></th>
			<th class="tentativeDate" ng-style="{'background-color': headerBackgroundColor(selectionObject.tentativeDate)}" style="min-width:95px;"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('tentativeDate');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="productionDate" ng-style="{'background-color': headerBackgroundColor(selectionObject.productionDate)}" access-restricted="vendedor" style="min-width:95px;"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('productionDate');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="infoDate" ng-style="{'background-color': headerBackgroundColor(selectionObject.infoDate)}" style="min-width:95px;"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('infoDate');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="advanceDate" ng-style="{'background-color': headerBackgroundColor(selectionObject.advanceDate)}" style="min-width:95px;"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('advanceDate');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="cloths" ng-style="{'background-color': headerBackgroundColor(selectionObject.cloths)}" style="min-width:95px;"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('cloths');" style="text-align:center; cursor:pointer;"></div></th>
			<!-- <th class="cloths"></th> -->
			<th class="state" ng-style="{'background-color': headerBackgroundColor(selectionObject.state)}" access-restricted="vendedor"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('state');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="area" ng-style="{'background-color': headerBackgroundColor(selectionObject.area)}" access-restricted="vendedor"><div><span class="glyphicon glyphicon-filter control-label" ng-click="::showFilterSelectionModal('area');" style="text-align:center; cursor:pointer;"></div></th>
			<th class="productionObservations" access-restricted="vendedor"></th>
			<th class="production-filter" access-allowed="admin,produccion,velas-od" access-restricted="vendedor"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in previsions track by p.id" my-repeat-directive="start" ng-style="::{'background-color': weekBackgroundColor(p)}">
			<td class="seller" ng-show="::visibility.selected('seller')">
				<span ng-bind=":refreshColumnsValue:getValue(p, 'seller')"></span>
			</td>
			<td class="week" ng-show="::visibility.selected('week')" ng-mouseover="::oneTimeBindings.showPopupList('weeks');" ng-mouseleave="::oneTimeBindings.hidePopupList('weeks');" ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'week');">
				<editable-production-input entity="::p" field="'week'" callback="::changedPrevision.numericField" editable-by-role="'admin,produccion'" width="20" style="display:inline-block;"></editable-production-input>
			</td>
			<td class="priority" ng-show="::visibility.selected('priority')" access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'priority')}}
			</td>
			<td class="dispatch" ng-show="::visibility.selected('dispatch')">
				<a href="javascript:void(0);" ng-click="::showDispatchModal({id: p.dispatchId})">{{:refreshColumnsValue:(p.dispatch ? '#' + p.dispatch : '')}}</a>
			</td>
			<td class="orderNumber" ng-show="::visibility.selected('orderNumber')" nowrap>
				<a href="javascript:void(0);" ng-click="showPrevisionModal(p)" access-restricted="vendedor">{{:refreshColumnsValue:p.orderNumber}}</a>
				<span ng-show="::visibility.isSeller()">{{:refreshColumnsValue:p.orderNumber}}</span>
			</td>
			<td class="client" ng-show="::visibility.selected('client')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'client')}}
			</td>
			<td class="boat" ng-show="::visibility.selected('boat')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'boat')}}
			</td>
			<td class="sailName" ng-show="::visibility.selected('sailName')" nowrap>
				{{:refreshColumnsValue:getValue(p, 'sailName')}}
			</td>
			<td class="line" ng-show="::visibility.selected('line')">
				{{:refreshColumnsValue:getValue(p, 'line')}}
			</td>
			<td class="percentage" ng-show="::visibility.selected('percentage')" style="min-width:30px;" ng-mouseover="::oneTimeBindings.showPopupList('percentages');" ng-mouseleave="::oneTimeBindings.hidePopupList('percentages');" ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'percentage');">
				<editable-production-input entity="::p" field="'percentage'" callback="::changedPrevision.numericField" editable-by-role="'admin,produccion,velas-od'" read-only-fn="::oneTimeBindings.readOnlyPercentage(p)" width="20" style="display:inline-block;"></editable-production-input>
			</td>
			<td class="advance" ng-show="::visibility.selected('advance')">
				{{:refreshColumnsValue:getValue(p, 'advance')}}
			</td>
			<td class="deliveryDate" ng-show="::visibility.selected('deliveryDate')" class="column-date" nowrap ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'deliveryDate');">
				<editable-date entity="::p" field="deliveryDate" callback="::updateDate" editable-by-role="'admin,produccion'" style="display:inline-block;" required="true"></editable-date>
			</td>
			<td class="tentativeDate" ng-show="::visibility.selected('tentativeDate')" class="column-date" nowrap ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'tentativeDate');">
				<editable-date entity="::p" field="tentativeDate" callback="::updateDate" editable-by-role="'admin,produccion'" style="display:inline-block;"></editable-date>
			</td>
			<td class="productionDate" ng-show="::visibility.selected('productionDate')" class="column-date" nowrap access-restricted="vendedor" ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'productionDate');">
				<editable-date entity="::p" field="productionDate" callback="::updateDate" editable-by-role="'admin,produccion'" style="display:inline-block;"></editable-date>
			</td>
			<td class="infoDate" ng-show="::visibility.selected('infoDate')" class="column-date" nowrap ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'infoDate');">
				<editable-date entity="::p" field="infoDate" callback="::updateDate" editable-by-role="'admin,produccion'" style="display:inline-block;"></editable-date>
			</td>
			<td class="advanceDate" ng-show="::visibility.selected('advanceDate')" class="column-date" nowrap ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'advanceDate');">
				<editable-date entity="::p" field="advanceDate" callback="::updateDate" editable-by-role="'admin,produccion'" style="display:inline-block;"></editable-date>
			</td>
			<td class="cloths" ng-show="::visibility.selected('cloths')">
				<prevision-cloths prevision="::p" style="display:inline-block;"></prevision-cloths>
			</td>
			<td class="state" ng-show="::visibility.selected('state')" access-restricted="vendedor">
				<span style="color:black; float:right; padding:2px;" ng-style="::oneTimeBindings.stateStyle(p)">
					{{:refreshColumnsValue:getValue(p, 'state')}}
					<a href="javascript:void(0)" ng-show=":refreshStateValue:p.stateAccepted=='0'" ng-click="::oneTimeBindings.acceptStateChange(p); $event.stopPropagation();" style="cursor:pointer;" class="tag-control" access-allowed="admin,produccion">
						<span class="glyphicon glyphicon-ok save-ok control-label" style="text-align:center; margin-left:4px;"></span>
					</a>
				</span>
			</td>
			<td class="area" ng-show="::visibility.selected('area')" access-restricted="vendedor">
				{{:refreshColumnsValue:getValue(p, 'area')}}
			</td>
			<td class="productionObservations" ng-show="::visibility.selected('productionObservations')" style="min-width:110px;" access-restricted="vendedor" ng-style=":refreshErrorBackground:visibility.errorStyle(p, 'productionObservations');">
				<editable-production-textarea entity="::p" field="'productionObservations'" callback="::changedPrevision.field" editable-by-role="'admin,produccion'" width="82" style="display:inline-block;"></editable-production-textarea>
			</td>
			<td style="width:80px; text-align:center;" access-allowed="admin,produccion,velas-od">
				<a ng-click="showArchiveConfirmModal(p, null, removeFromProduction)" class="btn btn-default small-button">
					<span class="glyphicon glyphicon-ok"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="21" ng-show="!hideLoading">
				Cargando...
			</td>
		</tr>
	</tbody>
</table>

<ul id="pagination" class="pagination-sm"></ul>

<!-- <ul id="pagination" class="pagination-sm ng-scope pagination" ng-show="previsions.length == rows">
	<li class="page"><a href="javascript:void(0)" ng-click="::showAll()" translate>Show all</a></li>
</ul> -->

<div>
	<production-weeks/>
</div>

<div>
	<production-percentages/>
</div>

<div>
	<production-columns-selector/>
</div>

<prevision-modal/>

<confirm-modal/>

<confirm-archive-modal/>

<dispatch-modal/>

<production-summary-modal/>

<filter-selection-modal/>
