<div class="nopaddingright jumbotron clearfix">
	<h1><span translate>Profile</span></h1>
	<form name="formDolar">
	<div class="row">
		<div class="col-md-6 nopadding">

				<label class="control-label col-xs-4" translate>Text size</label>
				<div class="col-xs-3">
					<ul class="text-size-selector">
						<li id="font_0"><a href="javascript:void(0);" style="font-size: 1em;" ng-click="changeFontSize('smallsize');">A</a></li>
						<li id="font_1"><a href="javascript:void(0);" style="font-size: 1.25em;" ng-click="changeFontSize('normalsize');">A</a></li>
						<li id="font_2"><a href="javascript:void(0);" style="font-size: 1.75em;" ng-click="changeFontSize('bigsize');">A</a></li>
					</ul>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 nopadding">

				<label class="control-label col-xs-4" translate>Idioma</label>
				<div class="col-xs-3">
					<a href="javascript:void(0);" ng-click="changeLanguage('spanish')">es</a>
					<a href="javascript:void(0);" ng-click="changeLanguage('port')">br</a>
				</div>

		</div>
	</div>
	</form>
</div>
