<div class="nopaddingright jumbotron clearfix">
	<h1>{{'Users' | translate}}</h1>
	<p class="bigmargin">
	    <a ng-click="showModal()" class="btn btn-default floatright">
	        <span class="glyphicon glyphicon-plus"></span>&nbsp;
	        {{'Create new user' | translate}}
	    </a>
	</p>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th translate>Name</th>
			<th translate>Username</th>
			<th translate>Role</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in users | orderBy:'name' | filter:searchBox">
			<td>
				{{u.name}}
			</td>
			<td>
				{{u.username}}
			</td>
			<td>
				{{u.role}}
			</td>
			<td style="width:80px; text-align: center;">
				<!-- <a href="javascript:void(0);" ng-click="showModal(u)" class="btn btn-sm btn-default">
					<span class="glyphicon glyphicon-pencil"></span>&nbsp;
					{{'Edit' | translate}} -->
					<span class="glyphicon glyphicon-pencil icon-link" ng-click="showModal(u);"></span>
				<!-- </a> -->
			</td>
			<td style="width:80px; text-align: center;">
				<!-- <a href="javascript:void(0);" ng-click="showConfirmDeleteModal(u);" class="btn btn-sm btn-default"> -->
					<!-- <span class="glyphicon glyphicon-trash"></span>&nbsp;
					{{'Delete' | translate}} -->
					<span class="glyphicon glyphicon-trash icon-link" ng-click="showConfirmDeleteModal(u);"></span>
					<!-- <span><a ng-click="search()" class="btn-link" ng-click="showConfirmDeleteModal(u);">{{'Delete' | translate}}</a><span> -->
				<!-- </a> -->
			</td>
		</tr>
	</tbody>
</table>

<confirm-modal callback="deleteUser"/>
