<div>
	<a style="color:#616161; cursor:pointer;" id="entityDisplay-{{entity.id}}-{{field}}" ng-click="clicked(entity)">
		<span>{{entity[field]}}</span> <span>{{extraLabel}}</span>
	</a>
	<span  class="badge" id="entityEdit-{{entity.id}}-{{field}}" style="display:none; border:0; padding: 0;">

		<input date-picker id="edit_date_dob"  style="height: 20px; width:60px; font-size: 10px;" type="text" ng-model="entity[field]" required>

		<a href="javascript:void(0)" ng-click="changed(entity)" ><span class="glyphicon glyphicon-ok control-label" style="text-align:center; cursor:pointer; margin-left:4px;"></span></a>
	</span>
</div>
