<div id="percentages">
  <table width="100%" valign="top" cellspacing="0" cellpadding="2" border="1" style="border-width:1px; border-style:solid; border-collapse:collapse;">
  	<tbody><tr class="title">
  		<td align="center" colspan="2" translate>percentages.title</td>
  	</tr>
    <tr class="FilaPopUp">
  		<td align="center">0%</td>
  		<td translate>percentages.0</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">3%</td>
  		<td translate>percentages.3</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">4%</td>
  		<td translate>percentages.4</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">5%</td>
  		<td translate>percentages.5</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">6%</td>
  		<td translate>percentages.6</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">25%</td>
  		<td translate>percentages.25</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">30%</td>
  		<td translate>percentages.30</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">40%</td>
  		<td translate>percentages.40</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">50%</td>
  		<td translate>percentages.50</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">60%</td>
  		<td translate>percentages.60</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">70%</td>
  		<td translate>percentages.70</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">80%</td>
  		<td translate>percentages.80</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">90%</td>
  		<td translate>percentages.90</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">98%</td>
  		<td translate>percentages.98</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">99%</td>
  		<td translate>percentages.99</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">100%</td>
  		<td translate>percentages.100</td>
    </tr>
  </tbody></table>
</div>
