<div id="percentages">
  <table width="100%" valign="top" cellspacing="0" cellpadding="2" border="1" style="border-width:1px; border-style:solid; border-collapse:collapse;">
  	<tbody><tr class="title">
  		<td align="center" colspan="2">% de Producción</td>
  	</tr>
    <tr class="FilaPopUp">
  		<td align="center">0%</td>
  		<td>Orden</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">3%</td>
  		<td>Anticipo Sin Informacion</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">4%</td>
  		<td>Informacion Sin Anticipo</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">5%</td>
  		<td>Informacion Con Anticipo, lista para diseñar</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">6%</td>
  		<td>Diseñada</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">25%</td>
  		<td>Cortada</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">30%</td>
  		<td>Pegada</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">50%</td>
  		<td>Cosida</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">60%</td>
  		<td>Recortada</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">75%</td>
  		<td>En Maquina</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">98%</td>
  		<td>En Terminacion Manual</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">100%</td>
  		<td>Terminada</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">101%</td>
  		<td>Saldada, Lista para despachar</td>
    </tr>
    <tr class="FilaPopUp">
  		<td align="center">102%</td>
  		<td>Despachada</td>
    </tr>
  </tbody></table>
</div>
