<div class="nopaddingright jumbotron clearfix">
		<h1><span translate>Temporaries stock</span></h1>
		<div class="row">
			<div class="col-md-8 nopadding">
					<label class="control-label col-xs-1" translate>Groups</label>
					<div class="col-xs-3">
						<select ng-model="filter.selectedGroup" ng-options="sc as sc.name for sc in groups" class="form-control small">
						</select>
					</div>
	
					<div class="col-xs-2">
						<span class="glyphicon glyphicon-search icon-with-label"></span>
						<span><a ng-click="filterByGroup(filter.selectedGroup)" class="btn-link">{{'Search' | translate}}</a><span>
					</div>
			</div>
		</div>
	</div>
	
	<table id="groups" class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th translate>Cloth</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in cloths | filter:searchBox">
				<td>
					<a href="javascript:void(0)" ng-click="showClothModal(c)">{{c.name}}</a>
				</td>
				<td>
					<span>{{+c.temporaryAvailableWithLoss > 0 ? (+c.temporaryAvailableWithLoss).toFixed(2) : ''}}</span>
				</td>
			</tr>
		</tbody>
	</table>