<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" style="margin-top: 0px;">
		<div class="modal-content">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span>{{'Buy' | translate}}</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
		</div>

			<div class="modal-body">

				<form class="form-horizontal ng-pristine ng-valid" name="form" novalidate>

					<div class="row">
						<div class="col-md-12 nopadding">
								<label class="control-label col-xs-3" for="edit_order" translate>Cloth</label>
								<div class="col-xs-8">
									<span>{{cloth.name}}</span>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 nopadding">
								<label class="control-label col-xs-3" for="edit_client" translate>Provider</label>
								<div class="col-xs-8">
									<span>{{provider.name}}</span>
								</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12 nopadding">
								<label class="control-label col-xs-3" for="edit_order" translate>Amount</label>
								<div class="col-xs-3">
									<input name="edit_amount" type="number" class="form-control small" ng-model="amount" required integer min="0" ng-class="{error: form.edit_amount.$dirty && form.edit_amount.$invalid}"/>
								</div>
								<small>mts</small>
						</div>
					</div>

          <div class="row">
						<div class="col-md-12 nopadding">
								<label class="control-label col-xs-3" for="edit_order" translate>Add to order</label>
                <div class="col-xs-3">
                  <select name="dd_otypes" ng-model="filter.selectedOrderType" ng-options="ot as ot.name for ot in filter.orderTypes" ng-change="filter.selectedOrder = null" class="form-control small">
                    <option value="">-- choose one --</option>
                  </select>
								</div>
								<div class="col-xs-6" ng-show="filter.selectedOrderType.id=='TO_CONFIRM'">
                  <select name="dd_orders" ng-model="filter.selectedOrder" ng-options="so as so.description for so in ordersToConfirm" class="form-control small">
                    <option value="">-- choose one --</option>
                  </select>
								</div>
                <div class="col-xs-6" ng-show="filter.selectedOrderType.id=='IN_TRANSIT'">
                  <select name="dd_orders" ng-model="filter.selectedOrder" ng-options="so as so.description for so in ordersInTransit" class="form-control small">
                    <option value="">-- choose one --</option>
                  </select>
								</div>
						</div>
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<a ng-click="buy(amount)" class="btn btn-default floatright edit_person" ng-disabled="!form.$valid" >
					<span class="glyphicon glyphicon-ok"></span>
					{{'Buy' | translate}}
				</a>
			</div>

		</div>
	</div>
</div>
