<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Previsions</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
		</div>

			<div class="modal-body">
				<div class="user_cards">
					<ul>
						<li class="title">{{'Def. previsions' | translate}}</li>
						<li class="cards">
							<ul>
								<li ng-repeat="p in cloth.previsions | previsionsByType:'DEF'" ng-click="showPrevisionModal(p, modalPrevisions)">
									<h3 style="margin-bottom: 10px;">
                    <span style="color:black;">{{p.orderNumber}}</span>
                    <span style="color:black; float:right; padding:2px;" ng-style="{'background-color': (p.stateAccepted=='0' ? 'orange' : '')}">
        							{{p.state}}
        							<a href="javascript:void(0)" ng-show="p.stateAccepted=='0'" ng-click="acceptStateChange(p); $event.stopPropagation();" style="cursor:pointer;" class="tag-control"><span class="glyphicon glyphicon-ok control-label" style="text-align:center; margin-left:4px;"></span></a>
        						</span>
                  </h3>
									<h3><small translate>Client</small> <span>{{p.client}}</span></h3>
									<h3><small translate>Sail</small> <span>{{p.sailName}}</span></h3>
									<h3><small translate>Boat</small> <span>{{p.boat}}</span></h3>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="user_cards">
					<ul>
						<li class="title">{{'Temp. previsions' | translate}}</li>
						<li class="cards">
							<ul>
								<li ng-repeat="p in cloth.previsions | previsionsByType:'TEMP'" ng-click="showPrevisionModal(p, modalPrevisions)">
									<!-- <h3><span style="color:black;">{{p.orderNumber}}</span></h3> -->
                  <h3 style="margin-bottom: 10px;">
                    <span style="color:black;">{{p.orderNumber}}</span>
                    <span style="color:black; float:right; padding:2px;" ng-style="{'background-color': (p.stateAccepted=='0' ? 'orange' : '')}">
        							{{p.state}}
        							<a href="javascript:void(0)" ng-show="p.stateAccepted=='0'" ng-click="acceptStateChange(p); $event.stopPropagation();" style="cursor:pointer;" class="tag-control"><span class="glyphicon glyphicon-ok control-label" style="text-align:center; margin-left:4px;"></span></a>
        						</span>
                  </h3>
									<h3><small translate>Client</small> <span>{{p.client}}</span></h3>
									<h3><small translate>Sail</small> <span>{{p.sailName}}</span></h3>
									<h3><small translate>Boat</small> <span>{{p.boat}}</span></h3>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="modal-footer">

				<a ng-click="$hide()" class="btn btn-default floatright" >
					<span class="glyphicon glyphicon-ok"></span>
					Ok
				</a>
			</div>

		</div>
	</div>
</div>

<prevision-modal/>
