<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Dispatch</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
		</div>

			<div class="modal-body">

				<form class="form-horizontal ng-pristine ng-valid" name="form" novalidate>

					<div class="row">
						<div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Number</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.number" required>
								</div>
						</div>
            <div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Dispatch date</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.date" >
								</div>
						</div>
            <div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Destinatary</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.destinatary" >
								</div>
						</div>
					</div>

          <div class="row">
						<div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Destiny</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.destiny" required>
								</div>
						</div>
            <div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Transport</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.transport" >
								</div>
						</div>
            <div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Delivery type</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.deliveryType" >
								</div>
						</div>
					</div>

          <div class="row">
						<div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Weight</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="dispatch.weight" required>
								</div>
						</div>
            <div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" translate>Measures</label>
								<div class="col-xs-8">
									<input type="text" class="form-control small" ng-model="dispatch.measures" >
								</div>
						</div>
					</div>

					<div class="row" style="margin-bottom: 25px; margin-top: 25px;">

						<div class="col-md-4 nopadding">
								<label class="control-label col-xs-4" for="edit_obs" translate>Order</label>
								<div class="col-xs-8">
									<select name="dd_sail" ng-model="onedesign.selectedSail" ng-options="sc as sc.sail for sc in orders" class="form-control small" ng-required="!onedesign.isManualSail" ng-class="{error: form.dd_sail.$invalid && form.dd_sail.$dirty}">
                      <option value="">-- choose one --</option>
                  </select>
								</div>
						</div>

            <div class="col-md-4 nopadding">
              <div class="col-xs-3">
                <a ng-click="save(dispatch)" class="btn nopadding" style="color: #616161;">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </div>
            </div>

						<div class="col-md-4 nopadding" access-restricted="read-only">
								<div class="col-xs-12">
									<a ng-click="save(dispatch)" class="btn btn-default floatright edit_person" ng-disabled="!form.$valid" >
										<span class="glyphicon glyphicon-save"></span>
									</a>
								</div>
						</div>
					</div>
				</form>

				<table id="groups" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th translate>Order</th>
							<th translate>Date</th>
              <th translate>Sail</th>
							<th access-restricted="read-only" translate>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="o in dispatch.orders">
							<td>
								{{o.orderNumber}}
							</td>
							<td>
								{{o.deliveryDate}}
							</td>
							<td>
								{{o.sail}}
							</td>
							<td access-restricted="read-only" style="width:80px; text-align:center;">
								<a ng-click="showConfirmModal(s, deleteDispatchOrder)" class="btn btn-default">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>

<confirm-modal/>
