<div class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-md" style="margin-top: 0px;">
		<div class="modal-content">

			<form name="form" novalidate>

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						Djai
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="close(true)">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>

			<div class="modal-header">
				<div class="row" >
					<div class="col-md-6 nopadding">
							<label class="control-label col-xs-4" for="edit_cloth" translate>Number</label>
							<div class="col-xs-8">
								<span ng-if="djai.id">{{djai.number}}</span>
								<input type="text" ng-model="djai.number" ng-if="!djai.id" class="small" required/>
							</div>
					</div>
				</div>
			</div>

			<div class="modal-body">

				<div class="row" ng-repeat="c in djai.cloths">
					<ng-form name="innerForm">
					<div class="col-md-6 nopadding">
							<label class="control-label col-xs-4" for="edit_cloth" translate>Cloth</label>
							<div class="col-xs-8">
								<select name="dd_cloth" ng-model="c.selectedCloth" ng-options="sc as sc.name for sc in allCloths" class="form-control small" required ng-class="{error: innerForm.dd_cloth.$invalid}">
			                        <option value="">-- choose one --</option>
			                    </select>
							</div>
					</div>
					<div class="col-md-6 nopadding">
							<label class="control-label col-xs-4" for="edit_mts">mts</label>
							<div class="col-xs-4">
								<input name="edit_amount" type="text" class="form-control small" required  ng-model="c.amount" ng-class="{error: innerForm.edit_amount.$invalid}">
							</div>
							<span class="glyphicon glyphicon-trash col-xs-1 control-label" ng-click="removeCloth($index)" style="text-align:center; cursor:pointer;" access-level="admin"></span>
							<span class="glyphicon glyphicon-plus col-xs-1 control-label" ng-click="addCloth()" ng-show="$last" style="text-align:center; cursor:pointer;" access-level="admin"></span>
					</div>
					</ng-form>
				</div>

				<div class="row" ng-show="djai.cloths.length==0">
					<div class="col-md-6 nopadding">
							<label class="control-label col-xs-4" for="edit_cloth" translate></label>
							<div class="col-xs-8">
							</div>
					</div>
					<div class="col-md-6 nopadding">
							<label class="control-label col-xs-4"></label>
							<div class="col-xs-4"></div>
							<span class="col-xs-1 control-label"></span>
							<span class="glyphicon glyphicon-plus col-xs-1 control-label" ng-click="addCloth()" style="text-align:center; cursor:pointer;"></span>
					</div>
				</div>

			</div>
			</form>

			<div class="modal-footer">

				<a ng-click="back()" class="btn btn-default floatleft" >
					<span class="glyphicon glyphicon-arrow-left"></span>
					{{'Back' | translate}}
				</a>

				<a ng-click="save()" class="btn btn-default floatright" ng-disabled="!form.$valid" access-level="admin">
					<span class="glyphicon glyphicon-ok"></span>
					Ok
				</a>
			</div>

		</div>
	</div>
</div>
