<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" style="margin-top: 0px;">
		<div class="modal-content">
			
			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Edit</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>
						
			<div class="modal-body">
				<textarea style="width: 265px; height: 100px;" ng-model="edit.text"/>
			</div>
						
			<div class="modal-footer">
				<a href="javascript:void(0);" class="btn btn-info floatleft" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
					{{'Cancel' | translate}}
				</a>
				
				<a href="javascript:void(0);" ng-click="confirmEdition()" class="btn btn-default floatright">
					<span class="glyphicon glyphicon-ok"></span>
					{{'Ok' | translate}}
				</a>
			</div>				
		</div>
	</div>
</div>