<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content" id="printDispatch">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Modelo</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn noprint" ng-click="closeModelsConsumedModal()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
        <div class="dispatch-logo onlyprint"></div>
		  </div>

			<div class="modal-body">

        <div><span translate>Consumed</span> {{year}}</div>
				<table id="groups" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th translate>Order</th>
							<th translate>Modelo - serie</th>
							<th translate>Boat</th>
							<th translate>Sail</th>
							<th translate>%</th>
							<th translate>OD Assigned date</th>
							<th translate>Delivery date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in consumedOrders | orderBy:'sailDescription'">
							<td nowrap>
								{{p.orderNumber}}
							</td>
							<td nowrap>
								<!-- <a href="javascript:void(0);" ng-click="showPrevisionModal(o)">{{o.orderNumber}}</a> -->
								{{p.sailDescription}}
							</td>
							<td>
								{{p.boat}}
							</td>
							<td>
								{{p.sailOneDesign}}
							</td>
							<td>
								{{p.percentage}}
							</td>
							<td>
								{{p.odAssignedOn}}
							</td>
							<td>
								{{p.deliveryDate}}
							</td>
						</tr>
					</tbody>
        </table>
      </div>

		</div>
	</div>

</div>

<confirm-modal/>

<prevision-modal/>
