<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content" id="printDispatch">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Modelo</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn noprint" ng-click="closeModelDetailsModal()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
        <div class="dispatch-logo onlyprint"></div>
		  </div>

			<div class="modal-body">

				<div class="row">
					<div class="col-md-4 nopadding">
							<label class="control-label col-xs-4" for="edit_order" translate>Code</label>
							<div class="col-xs-7">
								<input name="edit_order" type="text" class="form-control small" ng-model="odmodel.model" />
							</div>
					</div>
					<div class="col-md-3 nopadding">
							<label class="control-label col-xs-6" for="edit_client" translate>Next serie</label>
							<div class="col-xs-5">
								<input name="edit_client" type="number" class="form-control small" ng-model="odmodel.nextSequence">
							</div>
					</div>
					<div class="col-md-3 nopadding">
						<label class="control-label col-xs-6" for="edit_client" translate>Stock min</label>
						<div class="col-xs-5">
							<input name="edit_client" type="number" class="form-control small" ng-model="odmodel.minStock">
						</div>
					</div>
					<div class="col-md-2 nopadding">
						<div class="col-xs-12">
							<a ng-click="saveModelDetails(odmodel)" class="btn btn-default floatright edit_person" >
								<span class="glyphicon glyphicon-save"></span>
							</a>
						</div>
					</div>
				</div>

				<hr>

        <div>No asignadas</div>
				<table id="groups" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th translate>Modelo - serie</th>
							<th translate>Boat</th>
							<th translate>Sail</th>
							<th translate>%</th>
							<!-- <th translate>Observations</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="o in notAssignedOrders | orderBy:'sailDescription'">
							<td nowrap>
								<a href="javascript:void(0);" ng-click="showPrevisionModal(o, null, previsionClosed)">{{o.sailDescription}}</a>
							</td>
              <td>
								{{o.boat}}
							</td>
              <td>
								{{o.sailOneDesign}}
							</td>
							<td>
								{{o.percentage}}
							</td>
              <!-- <td>
                {{o.observations}}
							</td> -->
						</tr>
					</tbody>
        </table>
        
        <div>Asignadas</div>
        <table id="groups" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th translate>Order</th>
							<th translate>Model</th>
							<th translate>Client</th>
							<th translate>Boat</th>
							<th translate>Sail</th>
							<th translate>%</th>
							<!-- <th translate>Observations</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="o in assignedOrders | orderBy:'orderNumber'">
							<td nowrap>
								<a href="javascript:void(0);" ng-click="showPrevisionModal(o, null, previsionClosed)">{{o.orderNumber}}</a>
							</td>
							<td>
								{{o.sailDescription}}
							</td>
							<td style="min-width: 110px;">
								{{o.client}}
							</td>
              <td>
								{{o.boat}}
							</td>
              <td>
								{{o.sailOneDesign}}
							</td>
							<td>
								{{o.percentage}}
							</td>
              <!-- <td>
                {{o.observations}}
							</td> -->
						</tr>
					</tbody>
				</table>

      </div>

		</div>
	</div>

</div>

<confirm-modal/>

<prevision-modal/>
