<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Files</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>

				<!-- <div class="row" style="margin-top:10px; padding-right: 15px;" access-level="admin">
            <span class="col-sm-2">
              <span class="btn btn-primary btn-file">
                  Browse...
                  <input id="docx" type="file" file="docx"/>
              </span>
            </span>
            <span class="col-sm-10">
              <input type="text" class="form-control small" ng-model="docx.name" readonly/>
            </span>
				</div> -->
			</div>

			<div class="modal-body">

        <div class="row">
          <div class="col-sm-2">
            <span class="btn btn-primary btn-file">
                {{'Browse' | translate}}
                <input id="docx" type="file" file="file"/>
            </span>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control small" ng-model="file.name" readonly style="height: 34px;"/>
          </div>

          <div class="col-sm-1">
            <a ng-click="uploadFile()" class="btn btn-default" >
    					<span class="glyphicon glyphicon-export"></span>
    				</a>
          </div>
        </div>

        <div class="row border-top">
  				<div class="user_cards">
  					<ul style="padding: 15px;">
  						<li class="cards">
  							<ul>
  								<li ng-repeat="f in files" style="min-height: 0px;">
  									<h3><span style="min-width:85px; display:inline-block;">{{f.name}}</h3>
  								</li>
  							</ul>
  						</li>
  					</ul>
  				</div>
        </div>

        <div class="row">
          <a href="javascript:;" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()">Open my Google Drive</a>
        </div>
			</div>

			<div class="modal-footer">

				<a ng-click="$hide()" class="btn btn-default floatright" >
					<span class="glyphicon glyphicon-ok"></span>
					Ok
				</a>
			</div>

		</div>
	</div>
</div>
