<div class="modal" tabindex="-1" role="dialog" name="updated">
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Prevision</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="close()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
		  </div>

			<div class="modal-body nopaddingside">

				<form class="form-horizontal ng-pristine ng-valid" name="form" novalidate>

					<div class="row">
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-3 padding-top-3" for="edit_od">One Design</label>
								<div class="col-xs-1">
									<input name="edit_od" type="checkbox" class="" ng-model="prevision.oneDesign" ng-disabled="prevision.designOnly" ng-change="oneDesignCloths()">
								</div>

                <!-- <label class="control-label col-xs-3 padding-top-3" for="edit_od">3DI/3DL/ESP</label>
								<div class="col-xs-1">
									<input name="edit_od" type="checkbox" class="" ng-model="prevision.canvas" ng-change="canvasOrder()">
								</div> -->
                <div class="col-xs-2"></div>

                <label class="control-label col-xs-5 padding-top-3" translate>Exclude state calculation</label>
								<div class="col-xs-1 nopadding">
									<input type="checkbox" class="" ng-model="prevision.excludeFromStateCalculation">
								</div>
						</div>
            <div class="col-md-6 nopadding">
								<label class="control-label col-xs-3 padding-top-3" for="edit_client" translate>State</label>
								<!-- <div class="col-xs-9">
                  <span style="color:black; padding:2px;" ng-style="{'background-color': (prevision.stateAccepted=='0' ? 'orange' : '')}">
      							{{prevision.state}}
      							<a href="javascript:void(0)" ng-show="prevision.stateAccepted=='0'" ng-click="acceptStateChange(prevision); $event.stopPropagation();" style="cursor:pointer;" class="tag-control"><span class="glyphicon glyphicon-ok control-label" style="text-align:center; margin-left:4px;"></span></a>
								</div>
              </span> -->
                <div class="col-xs-3">
                  <span style="color:black; padding:2px;" ng-style="{'background-color': (prevision.stateAccepted=='0' ? 'orange' : '')}">
      							{{prevision.state}}
      							<a href="javascript:void(0)" ng-show="prevision.stateAccepted=='0'" ng-click="acceptStateChange(prevision); $event.stopPropagation();" style="cursor:pointer;" class="tag-control"><span class="glyphicon glyphicon-ok control-label" style="text-align:center; margin-left:4px;"></span></a>
      						</span>
								</div>
                <label class="control-label col-xs-2 padding-top-3" translate>Country</label>
								<div class="col-xs-4">
									<select ng-model="prevision.country" ng-options="c for c in countries" class="form-control small" ng-disabled="user.storedCountry == 'BRA' || prevision.isNew || (prevision.designed=='1' && prevision.id.indexOf('-prev')==-1) || prevision.designOnly" ng-change="refreshCountry();">
                  </select>
								</div>
						</div>
					</div>

					<!-- <br> -->

					<div class="row">
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-4" for="edit_order" translate>Order number</label>
								<div class="col-xs-8">
									<input name="edit_order" type="text" class="form-control small" ng-model="prevision.orderNumber" required ng-class="{error: form.edit_order.$dirty && form.edit_order.$invalid}" ng-show="prevision.id">
                  <angucomplete-alt id="ex1"
                      placeholder=""
                      pause="100"
                      selected-object="selectedPrevision"
                      local-data="previsions"
                      search-fields="orderNumber"
                      title-field="orderNumber"
                      input-changed="orderNumberInputChanged"
                      minlength="2"
                      input-class="form-control small"
                      required ng-class="{error: form.edit_order.$dirty && form.edit_order.$invalid}"
                      ng-show="!prevision.id"/>
								</div>
						</div>
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-3" for="edit_client" translate>Client</label>
								<div class="col-xs-9">
									<input name="edit_client" type="text" class="form-control small" ng-model="prevision.client">
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-4" for="edit_date" translate>Delivery date</label>
								<div class="col-xs-8">
									<div class="input-group input-group-sm date" date-picker>
										<input id="edit_date_dob" name="edit_date_dob" type="text" ng-model="prevision.deliveryDate" ng-change="deliveryDateChanged('{{prevision.deliveryDate}}')" class="form-control small" required ng-style="{'background-color': (prevision.deliveryDateChanged===true || prevision.deliveryDateManuallyUpdated==='1' ? 'orange' : '')}">
										<span class="input-group-addon">
											<span class="glyphicon-calendar glyphicon"></span>
										</span>
									</div>
								</div>
						</div>
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-3" for="dd_sail" translate>Sail</label>
                <div class="col-xs-4" ng-show="!prevision.oneDesign">
									<select name="dd_sail" ng-model="prevision.selectedSailGroup" ng-options="s as s.name for s in sailGroups" class="form-control small" ng-change="updateSails();">
				                        <option value="">-- choose one --</option>
				                    </select>
								</div>
								<div class="col-xs-5" ng-show="!prevision.oneDesign && prevision.selectedSailGroup.id != 9">
									<select name="dd_sail" ng-model="prevision.selectedSail" ng-options="s as s.description for s in sails" class="form-control small" ng-change="calculateMts(); oneDesignCloths(); calculateDesignHours();">
				                        <option value="">-- choose one --</option>
				                    </select>
								</div>
								<div class="col-xs-4" ng-show="prevision.oneDesign">
									<select name="dd_sailod" ng-model="prevision.selectedOneDesignSail" ng-options="s as s.sail for s in oneDesignSails" class="form-control small" ng-change="setBoatBySail(); oneDesignCloths();">
                    <option value="">-- choose one --</option>
                  </select>
								</div>
								<div class="col-xs-5" ng-show="prevision.oneDesign || prevision.selectedSailGroup.id == 9">
									<input name="edit_sail" type="text" class="form-control small" ng-model="prevision.sailDescription">
								</div>
						</div>
					</div>

          <div class="row"  ng-show="prevision.selectedSail.rizo == 'Y'">
						<div class="col-md-6 nopadding">
						</div>
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-3" for="dd_sail" translate>Rizos</label>
                <div class="col-xs-4">
                </div>
								<div class="col-xs-5">
									<select name="dd_sailod" ng-model="prevision.rizo" class="form-control small" ng-change="calculateMts()">
                      <option value="0" selected>0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                  </select>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-4" for="edit_type" translate>Type</label>
								<div class="col-xs-8">
									<label class="radio-inline">
										<input type="radio" name="edit_type" value="TEMP" ng-model="prevision.type" required> Temp
									</label>
									<label class="radio-inline">
										<input type="radio" name="edit_type" value="DEF" ng-model="prevision.type" required> Def
									</label>
									<span ng-show="form.edit_type.$invalid" class="radio-inline error">!</span>
								</div>
						</div>
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-3" for="edit_boat" translate>Boat</label>
								<div class="col-xs-4" ng-show="!prevision.oneDesign">
									<input name="edit_boat" type="text" class="form-control small" ng-model="prevision.boat">
								</div>
								<div class="col-xs-4" ng-show="prevision.oneDesign">
									<select name="dd_boat" ng-model="prevision.selectedBoat" ng-options="b as b.boat for b in boats" class="form-control small" ng-change="filterSails();  oneDesignCloths();">
                    <option value="">-- choose one --</option>
                  </select>
								</div>

								<label class="control-label col-xs-2" for="edit_feet" ng-show="prevision.selectedSailGroup.id != 8">&gt; 44</label>
								<div class="col-xs-2" ng-hide="prevision.selectedSailGroup.id == 8">
									<input name="edit_feet" type="checkbox" style="margin-top:8px;" ng-model="prevision.greaterThan44"  ng-change="calculateMts()">
								</div>
						</div>

					</div>

          <div class="panel panel-default ng-scope">
            <div class="panel-heading nopadding">
              <h2 class="panel-title panel-title-minimalist fullwidth">
                <a data-toggle="collapse" data-target="#collapse2" href="javascript:void(0)" class="collapsed">
                  <span translate>Observations</span>
                </a>
              </h2>
            </div>

            <div id="collapse2" class="panel-collapse collapse" style="height: auto;">
              <div class="panel-body">

                <div class="row" >
      						<div class="col-md-4 nopadding">
      							<label class="control-label col-xs-12" for="edit_type" translate>General observations</label>
      						</div>
      						<div class="col-md-4 nopadding">
                    <label class="control-label col-xs-12" for="edit_type" translate>Production observations</label>
      						</div>
                  <div class="col-md-4 nopadding">
                    <label class="control-label col-xs-12" for="edit_type" translate>Design observations</label>
      						</div>
      					</div>

                <div class="row" >
      						<div class="col-md-4">
      							<textarea class="control-label col-xs-12" rows="5" ng-model="prevision.observations"></textarea>
      						</div>
      						<div class="col-md-4">
                    <textarea class="control-label col-xs-12" rows="5" ng-model="prevision.productionObservations"></textarea>
      						</div>
                  <div class="col-md-4">
                    <textarea class="control-label col-xs-12" rows="5" ng-model="prevision.designObservations"></textarea>
      						</div>
      					</div>

              </div>

            </div>
          </div>


          <div class="panel panel-default ng-scope">
            <div class="panel-heading nopadding">
              <h2 class="panel-title panel-title-minimalist fullwidth">
                <a data-toggle="collapse" data-target="#collapse3" href="javascript:void(0)">
                  <span translate>Design</span>
                </a>
              </h2>
            </div>

            <div id="collapse3" class="panel-collapse collapse in" style="height: auto;">
              <div class="panel-body">

                <div class="row">
                  <div class="col-md-3 nopadding">
                    <label class="control-label col-xs-6" translate>Designer</label>
                    <div class="col-xs-6">
                      <select name="dd_des" ng-model="prevision.selectedDesigner" ng-options="d as d.name for d in designers" class="form-control small" ng-change="">
                        <option value="">-- choose one --</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 nopadding">
                    <label class="control-label col-xs-6" translate>Hours</label>
                    <div class="col-xs-6">
                      <input type="text" class="form-control small" ng-model="prevision.designHours">
                    </div>
                  </div>
                  <div class="col-md-3 nopadding">
                    <label class="control-label col-xs-6" translate>Week</label>
                    <div class="col-xs-6">
                      <input type="text" class="form-control small" ng-model="prevision.designWeek">
                    </div>
                  </div>
                  <div class="col-md-3 nopadding">
                    <label class="control-label col-xs-6" for="edit_od" translate>Only design</label>
    								<div class="col-xs-6">
    									<input name="edit_od" type="checkbox" class="" ng-model="prevision.designOnly" ng-change="designOnlyOrder()">
    								</div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="panel panel-default ng-scope">
  					<div class="panel-heading nopadding">
  						<h2 class="panel-title panel-title-minimalist fullwidth">
  							<a data-toggle="collapse" data-target="#collapse1" href="javascript:void(0)">
  								<span translate>Production</span>
  							</a>
  						</h2>
  					</div>

  					<div id="collapse1" class="panel-collapse collapse in" style="height: auto;">
  						<div class="panel-body">

                <div class="row">
                  <div class="col-md-6 nopadding">
                    <div class="col-xs-6 nopadding">
                      <label class="control-label col-xs-6" translate>Seller</label>
                      <div class="col-xs-6">
                        <select name="dd_seller" ng-model="prevision.selectedSeller" ng-options="s as s.name for s in sellers" class="form-control small" ng-change="">
                          <option value="">-- choose one --</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-6 nopadding">
                      <label class="control-label col-xs-6" translate>Week</label>
                      <div class="col-xs-6">
                        <input type="text" class="form-control small" ng-model="prevision.week">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 nopadding">
                    <div class="col-xs-6 nopadding">
                      <label class="control-label col-xs-6" translate>Priority</label>
                      <div class="col-xs-6">
                        <input type="text" class="form-control small" ng-model="prevision.priority">
                      </div>
                    </div>
                    <div class="col-xs-6 nopadding">
                      <label class="control-label col-xs-4" translate>Line</label>
                      <div class="col-xs-8">
                        <select name="dd_line" ng-model="prevision.selectedLine" ng-options="l as l.name for l in lines" class="form-control small" ng-change="updatePrevisionDeliveryDate(); calculateMts(); calculateDesignHours();">
                          <option value="">-- choose one --</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 nopadding">
                      <label class="control-label col-xs-3" translate>Tentative date min</label>
                      <div class="col-xs-5">
      									<div class="input-group input-group-sm date" date-picker>
      										<input id="edit_date_dob" name="edit_date_dob" type="text" ng-model="prevision.tentativeDate" class="form-control small">
      										<span class="input-group-addon">
      											<span class="glyphicon-calendar glyphicon"></span>
      										</span>
      									</div>
      								</div>
                      <label class="control-label col-xs-1">%</label>
                      <div class="col-xs-3">
                        <input type="text" class="form-control small" ng-model="prevision.percentage" ng-style="{'background-color': (prevision.percentageChanged===true ? 'orange' : '')}" ng-disabled="(!origPrevision.percentage || origPrevision.percentage < 25) && !isAdmin()">
                      </div>
                  </div>
                  <div class="col-md-6 nopadding">
                    <label class="control-label col-xs-3" translate>Dispatch</label>
                    <div class="col-xs-3">
                      <select ng-model="prevision.selectedDispatch" ng-options="d as ('#' + d.number) for d in openDispatchs" class="form-control small" ng-change="">
                        <option value="">--</option>
                      </select>
                    </div>
                    <div class="col-xs-2">
                      <span class="glyphicon glyphicon-eye-open control-label" ng-click="showDispatchModal({id: prevision.dispatchId})" style="text-align:center; cursor:pointer;" ng-show="prevision.selectedDispatch.id"></span>
                    </div>

                    <div class=" col-xs-4">
                      <label class="control-label" style="padding-right: 10px;" ng-bind="filesLbl" translate>Files</label>
                      <span id="productionPicker" class="glyphicon glyphicon-folder-open control-label" style="text-align:center; cursor:pointer;" lk-google-picker on-before-open="onBeforePickerOpen(element)" on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()" ng-show="prevision.driveIdProduction && online && !insufficientPermissions" access-allowed="admin,produccion,ordenes,plotter"></span>
                      <span class="glyphicon glyphicon-folder-open control-label" style="text-align:center; cursor:pointer; color: red;" ng-show="!online" ng-click="::offlineUpload()"></span>
                    </div>
                  </div>
                </div>

                <!-- <div class="row">
                  <span class="col-xs-2"><a href="javascript:;" ng-click="::listFiles('0B7pV9nMgniCgN2FOSXNtNXppUkU');">List</a></span>
                  <span class="col-xs-2"><a href="javascript:;" ng-click="::downloadFile();">Download</a></span>
                  <span class="col-xs-2"><a href="javascript:;" ng-click="::checkPermissions();">Permissions</a></span>
                  <span class="col-xs-2"><a href="javascript:;" ng-click="::checkOnline();">Check online</a></span>
                </div> -->

                <div class="row" style="min-height: 32px;">
                  <div class="col-md-6 nopadding">
                      <label class="control-label col-xs-3" translate>Info</label>
                      <div class="col-xs-1">
      									<input type="checkbox" style="margin-top:8px;" ng-model="prevision.hasInfo" ng-change="::hasInfoChanged()">
      								</div>
                      <div class="col-xs-8" ng-show="prevision.hasInfo">
      									<div class="input-group input-group-sm date" date-picker>
      										<input id="edit_date_dob" name="edit_date_dob" type="text" ng-model="prevision.infoDate" class="form-control small" ng-change="updateFieldsByRule()">
      										<span class="input-group-addon">
      											<span class="glyphicon-calendar glyphicon"></span>
      										</span>
      									</div>
      								</div>
                  </div>
                  <div class="col-md-6 nopadding">
                      <label class="control-label col-xs-3" translate>Advance</label>
                      <div class="col-xs-1">
      									<input type="checkbox" style="margin-top:8px;" ng-model="prevision.hasAdvance" ng-change="::hasAdvanceChanged()">
      								</div>
                      <div class="col-xs-5" ng-show="prevision.hasAdvance">
      									<div class="input-group input-group-sm date" date-picker>
      										<input id="edit_date_dob" name="edit_date_dob" type="text" ng-model="prevision.advanceDate" class="form-control small" ng-change="updateFieldsByRule()">
      										<span class="input-group-addon">
      											<span class="glyphicon-calendar glyphicon"></span>
      										</span>
      									</div>
      								</div>
                      <label class="control-label col-xs-1" ng-show="prevision.hasAdvance">%</label>
                      <div class="col-xs-2">
                        <input type="text" class="form-control small" ng-model="prevision.advance" ng-show="prevision.hasAdvance">
                      </div>
                  </div>
                </div>

  						</div>
  					</div>
  				</div>



          <!-- <div class="row">
            <div class="col-md-6 nopadding">
                <label class="control-label col-xs-4" translate>Dispatch</label>
                <div class="col-xs-6">
                  <select name="dd_boat" ng-model="prevision.selectedDispatch" ng-options="b as b.boat for b in dispatchs" class="form-control small" ng-change="">
                    <option value="">-- choose one --</option>
                  </select>
                </div>
                <span class="glyphicon glyphicon-plus col-xs-1 control-label" ng-click="newDispatch()" style="text-align:center; cursor:pointer;"></span>
            </div>
          </div> -->


					<div class="row border-bottom border-top">
						<div class="col-md-2 nopadding">
								<label class="control-label col-xs-4" for="edit_type" translate>P</label>
								<div class="col-xs-6">
									<input name="edit_boat" type="text" class="form-control small" ng-model="prevision.p" ng-change="calculateMts()">
								</div>
						</div>
						<div class="col-md-2 nopadding">
								<label class="control-label col-xs-4" for="edit_boat" translate>E</label>
								<div class="col-xs-6">
									<input name="edit_boat" type="text" class="form-control small" ng-model="prevision.e" ng-change="calculateMts()">
								</div>
						</div>
						<div class="col-md-2 nopadding">
								<label class="control-label col-xs-4" for="edit_boat" translate>I</label>
								<div class="col-xs-6">
									<input name="edit_boat" type="text" class="form-control small" ng-model="prevision.i" ng-change="calculateMts()">
								</div>
						</div>
						<div class="col-md-2 nopadding">
								<label class="control-label col-xs-4" for="edit_boat" translate>J</label>
								<div class="col-xs-6">
									<input name="edit_boat" type="text" class="form-control small" ng-model="prevision.j" ng-change="calculateMts()">
								</div>
						</div>
						<div class="col-md-2 nopadding">
								<label class="control-label col-xs-4" for="edit_boat" translate>Area</label>
								<div class="col-xs-6">
									<input name="edit_boat" type="text" class="form-control small" ng-model="prevision.area" ng-change="calculateMts(); calculateDesignHours();">
								</div>
						</div>
					</div>

					<div class="row" ng-repeat="c in prevision.cloths" ng-show="!prevision.designOnly">
						<ng-form name="innerForm">
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-4" for="edit_cloth" translate>Cloth</label>
								<div class="col-xs-8">
									<select name="dd_cloth" ng-model="c.selectedCloth" ng-options="sc as sc.name for sc in cloths" class="form-control small" required ng-class="{error: innerForm.dd_cloth.$invalid}" ng-disabled="prevision.designed=='1' && prevision.id.indexOf('-prev')==-1" >
                      <option value="">-- choose one --</option>
                  </select>
								</div>
						</div>
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-4" for="edit_mts">mts</label>
								<div class="col-xs-4">
									<input name="edit_mts" type="text" class="form-control small" required  ng-model="c.mts" ng-class="{error: innerForm.edit_mts.$invalid}" ng-disabled="prevision.designed=='1' && prevision.id.indexOf('-prev')==-1">
								</div>
								<span class="glyphicon glyphicon-trash col-xs-1 control-label" ng-click="removeCloth($index)" style="text-align:center; cursor:pointer;" ng-hide="prevision.designed=='1' && prevision.id.indexOf('-prev')==-1"></span>
								<span class="glyphicon glyphicon-plus col-xs-1 control-label" ng-click="addCloth()" ng-show="$last" style="text-align:center; cursor:pointer;" ng-hide="prevision.designed=='1' && prevision.id.indexOf('-prev')==-1"></span>
						</div>
						</ng-form>
					</div>

          <div class="row" ng-show="prevision.designOnly">
						<div class="col-md-6 nopadding">
								<label class="control-label col-xs-4" for="edit_cloth" translate>Cloth</label>
								<div class="col-xs-8">
									<input ng-model="prevision.designOnlyCloth" class="form-control small">
								</div>
						</div>
					</div>

				</form>

			</div>

			<div class="modal-footer">
				<a href="javascript:void(0)" class="btn btn-info floatleft" ng-click="close()">
					<span class="glyphicon glyphicon-remove"></span>
					{{'Cancel' | translate}}
				</a>
				<a href="javascript:void(0)" class="btn btn-warning floatleft" ng-show="prevision.id" ng-hide="prevision.designed=='1'" ng-click="showConfirmDeleteModal(prevision)" access-allowed="admin,ordenes,produccion,velas-od">
					<span class="glyphicon glyphicon-trash"></span>
					{{'Delete' | translate}}
				</a>

				<a ng-click="save()" class="btn btn-default floatright edit_person" ng-disabled="!form.$valid || !prevision.orderNumber" access-allowed="admin,ordenes,produccion,velas-od" >
					<span class="glyphicon glyphicon-save"></span>
					{{'Save' | translate}}
				</a>
			</div>

		</div>
	</div>

</div>

<prevision-files-modal/>

<confirm-modal callback="deletePrevision"/>

<dispatch-modal/>
