<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" style="margin-top: 0px;">
		<div class="modal-content">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Files</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>

			</div>

			<div class="modal-body form-horizontal">

        <!-- <div class="row">
          <div class="col-sm-2">
            <span class="btn btn-primary btn-file">
                {{'Browse' | translate}}
                <input id="docx" type="file" file="file"/>
            </span>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control small" ng-model="file.name" readonly style="height: 34px;"/>
          </div>

          <div class="col-sm-1">
            <a ng-click="uploadFile()" class="btn btn-default" >
    					<span class="glyphicon glyphicon-export"></span>
    				</a>
          </div>
        </div> -->

        <div class="row">
          <a ng-click="delete()" class="btn btn-warning">
            <span class="glyphicon glyphicon-trash"></span>
            {{'Delete' | translate}}
          </a>
          <a ng-click="download()" class="btn btn-default floatright">
            <span class="glyphicon glyphicon-download"></span>
            {{'Download' | translate}}
          </a>
        </div>

			</div>

		</div>
	</div>
</div>
