<div class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content">
			
			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span>{{'Provider' | translate}} <editable-provider-name ng-model="provider" style="display:inline-block;"></editable-provider-name></span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>
			
			<div class="modal-header">
			<div class="row">
				<div class="col-md-12 paddingright">
					<p class="bigmargin">
						<a ng-click="showNewProductModal(provider)" class="btn btn-info floatright">
					        <span class="glyphicon glyphicon-plus"></span>&nbsp;
					        {{'New product' | translate}}
					    </a>
				    </p>
				</div>
			</div>
				
			</div>
						
			<div class="modal-body">
				<table id="groups" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th translate>Cloth</th>
							<th translate>Code</th>
							<th translate>Stock</th>
							<th translate>Price fob</th>
							<th translate>Price nac</th>
							<th translate>Price ref</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in provider.products">
							<td>
								<a href="javascript:void(0)" ng-click="showBuyModal(provider, p)" my-tooltip="'Buy'|translate" data-placement="right">{{p.name}}</a>
							</td>
							<td>
								{{p.code}}
							</td>
							<td>
								{{p.stock}}
							</td>
							<td>
								<span price-tooltip="(p.price * 0.9144).toFixed(2)">{{p.price}}</span>
							</td>
							<td>
								{{ toPriceNac(p.price) }}
							</td>
							<td>
								{{ toPriceRef(p.price) }}
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
						
			<div class="modal-footer">
			</div>
						
		</div>
	</div>
</div>

<new-product-modal/>

