<div class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" style="margin-top: 0px;">
		<div class="modal-content" id="printFile">

			<div class="modal-header">
				<div class="edit_person">
					<h2>
						<span class="glyphicon glyphicon-file"></span>
						<span translate>Temporaries file</span>
					</h2>
				</div>
				<a href="javascript:void(0)" class="btn btn-lg closebtn noprint" ng-click="$hide()">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<div class="dispatch-logo onlyprint"></div>	
			</div>

			<div class="modal-body">

				<form class="noprint" name="formOrderInfo" ng-init="setModalCtrl(this)">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12 nopadding">
							<label class="control-label col-xs-2" translate>Cloth</label>
							<div class="col-xs-7" style="left: -25px;">
								<span style="padding: 5px; border: 1px solid lightgray;">
									<b style="font-size: 18px;">{{file.cloth}}</b>
								</span>
							</div>
						</div>								
					</div>
					
					<div class="row">
						<div class="col-md-4 nopadding">
							<label class="control-label col-xs-5" translate>Dispatch</label>
							<div class="col-xs-7">
								<editable-production-input entity="::file" field="'shortName'" callback="::updateDispatch" style="display:inline-block;" title="{{::file.dispatch}}"></editable-production-input>
							</div>
						</div>
						<div class="col-md-4 nopadding">
							<label class="control-label col-xs-5" translate>Cloth type</label>
							<div class="col-xs-7">
								<!-- {{file.clothType}} -->
								<select ng-show="file.isNew" ng-model="file.type" ng-options="s as s for s in  listTypes" class="form-control small">
									<option value="">-- choose one --</option>
								</select>
								<editable-production-dropdown ng-show="!file.isNew" entity="::file" options="::listTypes" field="'type'" callback="::updateFile" display="::clothTypeDisplayFn" width-editable="90" style="display:inline-block;"></editable-production-dropdown>
							</div>
						</div>
						<div class="col-md-4 nopadding">
							<!-- Saldo -->
							<label class="control-label col-xs-5" translate>Temporaries available</label>
							<div class="col-xs-7">
								<b>{{file.available}}</b>
							</div>
						</div>								
					</div>
					
					<div class="row">
						<div class="col-md-4 nopadding" ng-show="order.status!='TO_BUY'">
							<label class="control-label col-xs-5" for="edit_type" translate>Due date</label>
							<div class="col-xs-7">
								<editable-date entity="::file" field="dueDate" callback="::updateDispatch" style="display:inline-block;" full-width="true"></editable-date>
							</div>
						</div>
						<div class="col-md-4 nopadding">
							<label class="control-label col-xs-5" translate>Roll width</label>
							<div class="col-xs-7">
								<!-- {{file.rollWidth}}'' -->
								<input ng-if="file.isNew" type="text" class="form-control small" ng-model="file.rollWidth" style="width: 40px;">
								<editable-production-input ng-if="!file.isNew" entity="::file" field="'rollWidth'" callback="::updateFile" style="display:inline-block;" width="45"></editable-production-input>								
							</div>
						</div>
						<div class="col-md-4 nopadding">
							<label class="control-label col-xs-5">CIF</label>
							<div class="col-xs-7">
								<span ng-if="file.isNew"><input type="text" class="form-control small" ng-model="file.cif" style="width: 75px; display:inline-block;"> usd</span>
								<span ng-if="!file.isNew">
									<editable-production-input entity="::file" field="'cif'" callback="::updateFile" style="display:inline-block;"></editable-production-input> usd
								</span>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top: 5px;">
						<div class="col-md-4 nopadding">
							<label class="control-label col-xs-5" translate>Code</label>
							<div class="col-xs-7">
								<span>{{file.code}}</span>
							</div>
						</div>
						<div class="col-md-4 nopadding">
							<label class="control-label col-xs-5" translate>Arancelary</label>
							<div class="col-xs-7">
								<input ng-if="file.isNew" type="text" class="form-control small" ng-model="file.arancelary">
								<editable-production-input ng-if="!file.isNew" entity="::file" field="'arancelary'" callback="::updateFile" style="display:inline-block;"></editable-production-input>
							</div>
						</div>
						<div class="col-md-7 nopadding"></div>
						
					</div>

				</form>

				<div class="row noprint" ng-if="!file.isNew" style="margin-bottom: 20px;">
					<div class="col-md-11">
						<a ng-click="showTemporariesDownloadModal(file, null)" class="btn btn-default floatright">
							<span class="glyphicon glyphicon-plus"></span>
							<span translate>New download</span>
						</a>
					</div>
					<div class="col-md-1 nopadding noprint">
						<div class="col-xs-12">
							<a ng-click="printFile(file)" class="btn btn-default floatright edit_person">
								<span class="glyphicon glyphicon-print"></span>
							</a>
						</div>
					</div>
				</div>

				<!-- Only print: 2 rows -->
				<div class="onlyprint">
					<div class="row">
						<div class="col-xs-10">
							<label class="control-label col-xs-3" translate>Cloth</label>
							<!-- <label id="d_description" class="control-label col-xs-8"></label>< -->
							<span class="control-label col-xs-9" style="left: -35px"><b id="d_description" style="font-size: 18px;"></b></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Dispatch</label>
							<label id="d_dispatch" class="control-label col-xs-8"></label>
						</div>
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Temporaries available</label>
							<label id="d_available" class="control-label col-xs-8"></label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Due date</label>
							<label id="d_duedate" class="control-label col-xs-8"></label>
						</div>
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Cloth type</label>
							<label id="d_clothtype" class="control-label col-xs-8"></label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Roll width</label>
							<label id="d_rollwidth" class="control-label col-xs-8"></label>
						</div>
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>CIF</label>
							<label id="d_cif" class="control-label col-xs-8"></label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Code</label>
							<label id="d_code" class="control-label col-xs-8"></label>
						</div>
						<div class="col-xs-6">
							<label class="control-label col-xs-4" translate>Arancelary</label>
							<label id="d_arancelary" class="control-label col-xs-8"></label>
						</div>						
					</div>
				</div>
				
				<table id="groups" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th translate>Month-Year</th>
							<th translate>Order number col</th>
							<th translate>Country</th>
							<th translate>Description</th>
							<th translate>Temporaries initial</th>
							<th translate>Downloads</th>
							<th translate>Temporaries available</th>
							<th class="noprint"></th>
							<th class="noprint"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<!-- {{file.mtsInitial}}	 -->
								<input ng-if="file.isNew" type="text" class="form-control small" ng-model="file.mtsInitial">
								<editable-production-input ng-if="!file.isNew" entity="::file" field="'mtsInitial'" callback="::updateMtsInitial" style="display:inline-block;"></editable-production-input>
							</td>
							<td></td>
							<td></td>
							<td class="noprint"></td>
							<td class="noprint"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Perdida 5%</td>
							<td></td>
							<td>{{(file.mtsInitial * 0.05).toFixed(2)}}</td>
							<td>{{(file.mtsInitial * 0.95).toFixed(2)}}</td>
							<td class="noprint"></td>
							<td class="noprint"></td>
						</tr>
						<tr ng-repeat="dw in file.downloads">
							<td>
								{{dw.downloadDate}}
							</td>
							<td>
								{{dw.orderNumber}}
							</td>
							<td>
								{{dw.country}}
							</td>
							<td>
								{{dw.description}}
							</td>
							<td></td>
							<td>
								{{dw.mts}}
							</td>
							<td>
								{{(dw.available).toFixed(2)}}	
							</td>
							<td class="noprint" style="width:80px; text-align: center;">
								<span class="glyphicon glyphicon-pencil icon-link" ng-click="showTemporariesDownloadModal(file, dw);"></span>
							</td>
							<td class="noprint" style="width:80px; text-align: center;">
								<span class="glyphicon glyphicon-trash icon-link" ng-click="showConfirmDeleteModal(dw);"></span>
							</td>
						</tr>
						<tr class="onlyprint" style="height: 33px;	" ng-repeat="e in range(0,10)">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
					
			</div>

			<div class="modal-footer" ng-if="file.isNew">
				<a ng-click="saveTemporariesFile(file)" class="btn btn-default floatright">
					<span class="glyphicon glyphicon-ok"></span>
					<span translate>Save</span>
				</a>
			</div>

		</div>
	</div>
</div>

<temporaries-download callback="temporariesDownloadUpdated"></temporaries-download>

<confirm-modal callback="deleteDownload"/>